.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: var(--background-color);
    color: var(--primary-color);
}

.header__title{
    font-size: 1.2rem;
    font-weight: bold;
}

.modeButton {
    background-color: white;
    border: none;
    height: 27px;
    width: 30px;
    cursor: pointer;
}

.modeButton__light {
    background: url('../../assets/images/light.svg') 0px 0px no-repeat;
}

.modeButton__dark {
    background: url('../../assets/images/dark.svg') 0px 0px no-repeat;
}