.search{
    background-color: var(--surface-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper__input{
    padding: 5px;
    background-color: var(--surface-color);
    margin-left: 15px;
}

.wrapper__input::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 25px;
    margin-left: -20px;
    margin-top: 4px;
}

.wrapper__input_light:before{
    background: url('../../assets/images/search_light.svg') no-repeat;
}

.wrapper__input_dark:before{
    background: url('../../assets/images/search_dark.svg') no-repeat;
}

.wrapper__input input{
    padding: 5px;
    border: none;
    background-color: var(--surface-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    outline: none;
    margin-left: 15px;
}

.wrapper__btn{
    border: none;
    color: white;
    background-color: var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}